/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #8166b0, #b26eb8);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 800px;
  padding: 50px;
  background-color: #6a9c83;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  width: 45%;
  padding: 10px;
  background-color: #333333;
  border: none;
  border-radius: 5px;
  color: #d4dc36;
  outline: none;
  margin: 3px;
}

button {
  padding: 10px;
  background-color: #c0ec20;
  border: none;
  border-radius: 5px;
  color: #b57575;
  cursor: pointer;
  transition: background-color 0.3s;
}
#remove-btn {
  padding: 10px;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d2c774;
}

#expense-list {
  list-style-type: none;
  padding: 0;
}

#expense-list li {
  background-color: #333333;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

#total {
  text-align: right;
}

.hidden {
  display: none;
}
